.reviews__list {
  padding: 0 100px;
}

.reviews__item {
  min-height: 319px;
  margin-bottom: 50px;
}

.reviews__item:last-child {
  margin-bottom: 0;
}

.reviews__wrapper {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
}

.reviews__span {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  text-align: center;
}

.reviews__span_type_one:before {
  content: '';
  display: block;
  background: radial-gradient(var(--reviews-gradient)), url("img/max.jpeg");
  min-width: 280px;
  min-height: 280px;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 11px;
}

.reviews__span_type_two:before {
  content: '';
  display: block;
  background: radial-gradient(var(--reviews-gradient)), url("img/oxana.jpeg");
  min-width: 280px;
  min-height: 280px;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 11px;
}

.reviews__span_type_three:before {
  content: '';
  display: block;
  background: radial-gradient(var(--reviews-gradient)), url("img/nikita.jpg");
  min-width: 280px;
  min-height: 280px;
  background-size: contain;
  border-radius: 50%;
  margin-bottom: 11px;
}

.reviews__text {
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}

.reviews__text_type_main {
  padding-top: 52px;
}
