.rooms {
  margin: 0;
}

.rooms__list {
  padding: 0;
  margin: -10px;
  font-size: 0;
  list-style-type: none;
  list-style-position: inside;
  display: block;
}
  
.rooms__item {
  display: inline-block;
  vertical-align: top;
  min-width: 576px;
  min-height: 350px;
  margin: 10px;
  background-size: cover;
}
  
.rooms__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 135px 0px;
}
  
.rooms__item_type_vibes {
  background-image: url("img/80s.jpg");
}
  
.rooms__item_type_starwars {
  background-image: url("img/star-wars.jpg");
}
  
.rooms__item_type_wildwest {
  background-image: url("img/wild-west.jpg");
}
  
.rooms__item_type_neon {
  background-image: url("img/neon-style.jpg");
}