.hero-section {
    margin: 0;
}
  
.hero-section__container {
  background-image: url("img/man.png");
  background-repeat: no-repeat;
  background-position: bottom right 30px;
  background-size: 675px 762px;
  min-height: 823px;
  position: relative;
}
  
.hero-section__heading {
  font-size: 150px;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -14px;
  margin: 0;
}
  
.hero-section__subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 0 60px 100px;
}

.hero-section__wrapper {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
  align-items: baseline;
}

.feature-wrapper {
  display: flex;
  flex-direction: column;
  flex-basis: 193px;
  gap: 20px;
  text-align: center;
}

.hero-section__feature {
  font-weight: 900;
  color: #CD06FF;
}

.hero-section__feature_type_rooms {
  font-size: 100px;
  line-height: 141px;
}

.hero-section__feature_type_new {
  font-size: 75px;
  line-height: 106px;
  text-transform: uppercase;
}

.hero-section__feature-text {
  font-size: 30px;
  line-height: calc(34 / 30);
  text-align: center;
}

.hero-section__link {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 25px 69px;
  background-color: #6C0287;
  border-radius: 10px;
  box-shadow:0 0 20px #6C0287;
}

.hero-section__link:hover, .hero-section__link:focus {
  background-color: #840AA3;
  outline: none;
}

.hero-section__link:active {
  background-color: #640AA3;
}

.hero-section__link-down {
  background-image: url("img/down.svg");
  width: 97px;
  min-height: 97px;
  background-color: transparent;
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
}

.hero-section__link-down:hover {
  background-image: url("img/down_hover.svg");
}

.hero-section__link-down:focus {
  background-image: url("img/down_focus.svg");
  outline: 1px solid #CD06FF;
}

.hero-section__link-down:active {
  background-image: url("img/down_active.svg");
}

