.footer {
  background: linear-gradient(#1B1A1B, #370A37);
  padding-bottom: 10px;
  padding-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.address {
  margin-bottom: 39px;
}
  
.address__contacts {
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  white-space: pre-line;
  margin: 0;
  padding-left: 70px;
  background-repeat: no-repeat;
  background-size: 35px 32px;
  background-position: left;
}
  
.address__contacts_type_location {
  margin-bottom: 38px;
  background-image: url("img/location.svg");
}
  
.address__link {
  text-decoration: none;
  color: #FFFFFF;
}

.address__link:hover {
  color: #EADEED;
  transition-duration: 0.2s;
}
  
.address__contacts_type_phone {
  margin-bottom: 11px;
  background-image: url("img/phone.svg");
}
  
.address__contacts_type_mail {
  margin-bottom: 0;
  background-image: url("img/mail.svg");
}
  
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
  
.social__item {
  display: inline-block;
  margin-right: 27px;
}
  
.social__link {
  display: block;
  width: 48px;
  height: 48px;
  background-size: contain;
}
  
.social__item:last-child {
  margin-right: 0;
}
  
.social__link_type_vk {
  background-image: url("img/vk.svg");
}

.social__link_type_vk:hover {
  background-image: url("img/vk_hover.svg");
  transition-duration: 0.2s;
}

.social__link_type_vk:focus {
  background-image: url("img/vk_hover.svg");
  outline: 1px solid #CD06FF;
  transition-duration: 0.2s;
}

.social__link_type_vk:active {
  background-image: url("img/vk_active.svg");
  outline: none;
  transition-duration: 0.2s;
}

.social__link_type_telegram {
  background-image: url("img/telegram.svg");
}

.social__link_type_telegram:hover {
  background-image: url("img/telegram_hover.svg");
  transition-duration: 0.2s;
}

.social__link_type_telegram:focus {
  background-image: url("img/telegram_hover.svg");
  outline: 1px solid #CD06FF;
  transition-duration: 0.2s;
}

.social__link_type_telegram:active {
  background-image: url("img/telegram_active.svg");
  outline: none;
  transition-duration: 0.2s;
}

.social__link_type_pinterest {
  background-image: url("img/pinterest.svg");
}

.social__link_type_pinterest:hover {
  background-image: url("img/pinterest_hover.svg");
  transition-duration: 0.2s;
}

.social__link_type_pinterest:focus {
  background-image: url("img/pinterest_hover.svg");
  outline: 1px solid #CD06FF;
  transition-duration: 0.2s;
}

.social__link_type_pinterest:active {
  background-image: url("img/pinterest_active.svg");
  outline: none;
  transition-duration: 0.2s;
}

.social__link_type_stumble-upon {
  background-image: url("img/stumble-upon.svg");
}

.social__link_type_stumble-upon:hover {
  background-image: url("img/stumble-upon_hover.svg");
  transition-duration: 0.2s;
}

.social__link_type_stumble-upon:focus {
  background-image: url("img/stumble-upon_hover.svg");
  outline: 1px solid #CD06FF;
  transition-duration: 0.2s;
}

.social__link_type_stumble-upon:active {
  background-image: url("img/stumble-upon_active.svg");
  outline: none;
  transition-duration: 0.2s;
}

.footer__image {
  margin-bottom: 156px;
}

.wrapper-developer {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-size: 14px;
  line-height: 16px;
}

.footer__developer-link:hover {
  color: #EADEED;
  transition-duration: 0.2s;
}

.footer__developer-item {
  margin-bottom: 6px;
}

.footer__developer-item:last-child {
  margin-bottom: 0;
}