.footer {
  padding-bottom: 101px;
  padding-top: 50px;
}
  
.address {
  margin-bottom: 39px;
}
  
.address__contacts {
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
  white-space: pre-line;
  margin: 0;
  padding-left: 70px;
  background-repeat: no-repeat;
  background-size: 35px 32px;
  background-position: left;
}
  
.address__contacts_type_location {
  margin-bottom: 38px;
  background-image: url("img/location.svg");
}
  
.address__link {
  text-decoration: none;
  color: #FFFFFF;
}
  
.address__contacts_type_phone {
  margin-bottom: 11px;
  background-image: url("img/phone.svg");
}
  
.address__contacts_type_mail {
  margin-bottom: 0;
  background-image: url("img/mail.svg");
}
  
.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
  
.social__item {
  display: inline-block;
  margin-right: 27px;
}
  
.social__link {
  display: block;
  width: 48px;
  height: 48px;
}
  
.social__item:last-child {
  margin-right: 0;
}
  
.social__image {
  width: 48px;
  height: 48px;
}