.book {
  background-color: #440F51;
  padding: 80px 0 96px 0;
}
.book__fieldset {
  border: none;
  margin-bottom: 60px;
}

.book__fieldset:last-child {
  margin-bottom: 0;
}

.book__form {
  display: block;
  max-width: 1180px;
  margin: 0;
  padding-bottom: 30px;
}

.book__legend {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
}

.book-rooms__fieldset {
  border: none;
  display: flex;
  flex-basis: 1180px;
  justify-content: space-between;
}

.book-rooms__input {
  appearance: none;
  display: block;
}

.book-rooms__label {
  display: block;
  padding: 7px 15px 8px;
  background-color: #FFFFFF;
  text-transform: uppercase;
  border-radius: 8px;
  color: #000000;
  min-width: 250px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
}

.book-rooms__label:hover {
  background-color: #EADEED;
  box-shadow: 3px solid #640AA3;
  transition-duration: 0.2s;
}

.book-rooms__label:focus {
  background-color: #FFFFFF;
  outline: 3px solid #640AA3;
  transition-duration: 0.2s;
}

.book-rooms__label:active {
  color: #FFFFFF;
  background-color: #6C0287;
  box-shadow: 3px solid #FFFFFF;
  transition-duration: 0.2s;
}

.book-entertainment {
  border: none;
  padding: 0 0 0 100px;
  display: flex;
  flex-basis: 1180px;
  gap: 100px;
}

.book-options {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-options_type_console {
  flex-basis: 280px;
}

.book-options_type_games {
  flex-basis: 300px;
}

.book-options_type_extra {
  flex-basis: 300px;
}

.book-options__legend {
  margin-bottom: 24px;
  text-align: start;
}

.book-options__label {
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  line-height: 100%;
  margin-bottom: 22px;
}

.book-options__label:last-child {
  margin-bottom: 0;
}

.book-options__input {
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  width: 27px;
  height: 27px;
}

.book-options__input:focus {
  outline: 1px solid #CD06FF;
  padding: 3px;
  transition-duration: 0.2s;
}

.book-data {
  border: none;
  margin-bottom: 40px;
  padding: 0 100px 0;
}

.book-data__wrapper {
  display: flex;
  flex-basis: 1180px;
  gap: 40px 50px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.book-data__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;
}

.book-data__container_type_times {
  flex-basis: 300px;
  flex-shrink: 0;
}

.book-data__container_type_name {
  flex-basis: 280px;
  flex-shrink: 0;
}

.book-data__container_type_contacts {
  flex-basis: 300px;
  flex-shrink: 0;
}


.book-data__container-times {
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}

.book-data__input {
  min-height: 52px;
  margin-bottom: 14px;
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  color: #211E1E;
}

.book-data__input:last-child {
  margin-bottom: 0;
}

.book-data__input_times {
  max-width: 134px;
  margin: 0;
  flex-grow: 1;
}

.book-data__input:focus {
  outline: none;
  border: 2px solid #CD06FF;
  transition-duration: 0.2s;
}

.book__button {
  display: block;
  color: #6C0287;
  background-color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  max-width: 300px;
  border-radius: 10px;
  padding: 16px 50px;
}

.book__button:hover {
  background-color: #EADEED;
  box-shadow: 3px solid #6C0287;
  transition-duration: 0.2s;
}

.book__button:focus {
  background-color: #FFFFFF;
  outline: 3px solid #6C0287;
  transition-duration: 0.2s;
}

.book__button:active {
  background-color: #EADEED;
  transition-duration: 0.2s;
}